
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Hello This is filters Demo</h2>
        <h1>Date time is :-  @DateTime.Now</h1>
        <a href="/FiltersDemo/Index">Click Me</a>
    </div>
</body>
</html>
